.environment {
  margin: 20px 0;
}

.environment h1 {
  font-size: 16px;
  display: inline;
}

.links {
  display: inline;
}

.links a {
  padding-left: 10px;
}

.results {
  background-color: #75715e;
}

.results > * {
  padding-left: 10px;
}
