.wrapper {
  font-family: Menlo, Consolas, Monaco, 'Lucida Console', 'Courier New',
    monospace;
  font-size: 14px;
  hyphens: none;
  tab-size: 2;
  text-shadow: none;
  white-space: pre-wrap;
  max-width: 680px;
  margin: 0 auto;
}

.title {
  font-family: monospace;
  display: inline;
}

.github {
  float: right;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  float: right;
  padding-bottom: 20px;
}
