body {
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: Menlo, Consolas, Monaco, 'Lucida Console', 'Courier New',
    monospace;
  font-size: 14px;
  hyphens: none;
  tab-size: 2;
  text-shadow: none;
  white-space: pre-wrap;
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem 0;
}

.title {
  font-family: monospace;
  display: inline;
}

.search {
  padding: 10px 0;
}

input {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  border-radius: 2px;
  border: 1px #75715e solid;
  color: #75715e;
}

.github {
  float: right;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  float: right;
  padding-bottom: 20px;
}
